<button (click)="showModal()"><span>Show Modal</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()" nzFooter=null>
  <ng-container *nzModalContent>
    <app-child-one (changeButtonText)="changeButtonText($event)" *ngIf="child1" [stepInner]="stepInner"></app-child-one>
    <app-child-two  *ngIf="child2"></app-child-two>
    <div class="modal-footer">
      <button>Back</button>
      <button (click)="nextStep(this.step)">{{buttonText}}</button>
    </div>
  </ng-container>
</nz-modal>